<div class="d-flex">
  <div class="row principale mt-5">
    <div
      class="col-sm-6 col-md-5 col-lg-4 col-xl-3 mb-4 justify-content-evenly d-flex"
      *ngFor="let film of movie"
    >
      <div class="card" style="width: 18rem">
        <img
          src="https://image.tmdb.org/t/p/w500{{ film.poster_path }}"
          class="card-img-top"
          alt=""
        />
        <div class="card-body">
          <!-- <h5 class="card-title">{{ film.title }}</h5> -->
        </div>
        <div>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="16"
            height="16"
            fill="red"
            class="bi bi-heart-fill"
            viewBox="0 0 16 16"
            (click)="remove(film.id)"
          >
            <path
              fill-rule="evenodd"
              d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314"
            />
          </svg>
        </div>
      </div>
    </div>
  </div>
</div>
